@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.speech-bubble-right::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #5db075;
  border-right: 5px solid transparent;
  border-top: 5px solid #5db075;
  border-bottom: 5px solid transparent;
  right: -9px;
  top: 0;
}

.speech-bubble-left::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid #f6f6f6;
  border-top: 5px solid #f6f6f6;
  border-bottom: 5px solid transparent;
  left: -9px;
  top: 0;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* Sesuaikan nilai z-index jika diperlukan */
}
